<p>exam-window works!</p>

<div class="comtainer" style="background-color: white;width: 70%;margin: auto;">
    <div  class="heading" style="background-color: white;text-align:center;padding:5px;">
            <h1 justify-content: center >Online Examination Center Name</h1>
            <h5>Address: </h5>
            <h3>Exam For- </h3>
    </div>

    
    <hr style="height:3px;border-width:0;color:black;background-color:black;margin-bottom: 0px ">
    <hr style="height:1px;border-width:0;color:black;background-color:black; margin-top: 4px">



    <div style="padding: 10px;font-size: 25px">
        <div style="Text-align:left;float:left;">
        <p>Date: </p></div>
        <div style="Text-align:right;float:right;">
        <p>Time : 30 min</p></div>
    </div>

    <div class="que-no">
       <h3 style="text-align: left;padding-top: 50px;padding-bottom: 10px">Question 1</h3>
    </div>
    <p class="question" style="font-size: 25px" ><strong>What is Loreim Picsum?</strong></p>
    <div style="font-size: 20px">
             <input ngModel type="radio" name="answer1" id="A1" value="A"> Option 1 <br>
          
             <input  ngModel type="radio" name="answer1" id="B1"  value="B">Option 2<br>
      
             <input  ngModel type="radio" name="answer1" id="C1"  value="C">Option 3<br>
      
             <input  ngModel type="radio" name="answer1" id="D1"  value="D">Option 4<br>
       
    </div>
    <div>
    <button style="float:right; background:rgb(90, 0, 162); color: white; width: 100px; height: 30px;border-radius: 5px;">Next</button>
     </div>

     <div style="padding-top: 30px">
    <p class="footer" style="text-align: center;"><strong>Showing question 1 of 10</strong></p>
     </div>
</div>
        

    <!-- <div *ngIf="flag" id="question-div" style="margin-left: 5%;margin-right: 5%;"> 
            <p class="question"><strong>{{poll[0].add_poll}}</strong></p>
            <form  #myForm="ngForm" (ngSubmit)="submitpoll(myForm.value)" role="form">   
                <label id="A1T">A. <input ngModel type="radio" name="answer1" id="A1" value="A">    {{poll[0].opt_A}}</label><br>
          
                <label id="B1T">B. <input  ngModel type="radio" name="answer1" id="B1"  value="B">    {{poll[0].opt_B}}</label><br>
          
                <label id="C1T">C. <input  ngModel type="radio" name="answer1" id="C1"  value="C">    {{poll[0].opt_C}}</label><br>
          
                <label id="D1T">D. <input  ngModel type="radio" name="answer1" id="D1"  value="D">    {{poll[0].opt_D}}</label><br>
            <button type="submit" class="btn btn-primary" >Submit</button>
          </form>
      </div> -->
