<p>register works!</p>



  <form action="" id="login-form">
      <h1>Sign up</h1>
      <div class="input-box">
          <input type="text">
          <span data-placeholder="Name"></span>
      </div>

      <div class="input-box">
        <input type="text">
        <span data-placeholder="Email"></span>
    </div>

      <div class="input-box">
          <input type="password">
          <span data-placeholder="Password"></span>
      </div>
      <div class="input-box">
        <input type="password">
        <span data-placeholder="Confirm password"></span>
    </div>

      <label>
        <input type="checkbox" name="remember"> I agree to all  <a href="#">Terms</a>
      </label>

      <button type="submit" class="login-btn">Register</button>

      <div class="bottom-links">
        <p>Already have account? <a routerLink="/app-login">Sign In</a></p>
      </div>
  </form>
